@model BlogersProject.Model.Entities.User
@{
    ViewData["Title"] = "Profile";
}<!-- Page Header-->
<header class="masthead" style="background-color :cadetblue">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Merhaba, @Model.Name</h1>
                    <h5>Sana Özel Hazırladığımız Profil Sayfasına Hoşgeldin. Kişisel Bilgilerini Düzenleyebilirsin.</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Bilgilerini düzenleyebilirsin. İyi çalışmalar dileriz...
                </p>
                <form class="form-valide" method="post" asp-controller="Blogger" asp-action="Profile">
                    <div class="form-group row">
                        <div class="form-floating">
                            <input class="form-control" id="name" type="text" value="@Model.UserName" asp-for="UserName" />
                            <label for="name">Kullanıcı Adı</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-floating">
                            <input class="form-control" id="name" type="text" value="@Model.Name" asp-for="Name" />
                            <label for="name">İsminiz</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-floating">
                            <input class="form-control" id="name" type="text" value="@Model.Email" asp-for="Email" />
                            <label for="name">Email</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-floating">
                            <input class="form-control" id="name" type="text" value="@Model.Phone" asp-for="Phone" />
                            <label for="name">Telefon Numarası</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-floating">
                            <input class="form-control" id="name" type="password" value="@Model.Password" asp-for="Password" />
                            <label for="name">Şifreniz</label>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.Role" asp-for="Role" />
                    <input type="hidden" value="@Model.Id" asp-for="Id" />
                    <br />
                    <div class="d-flex justify-content-end mb-4">
                        <input type="submit" class="btn btn-primary" value="Kaydet" />
                    </div>
                </form>

            </div>
        </div>
        <hr class="my-4" />
        <div style="float:left;">
            <a class="btn btn-primary" asp-controller="Blogger" asp-action="Index" asp-route-id="@Model.Id"><img src="~/icons/ekle.svg" />&nbsp&nbsp;Yeni Blog Ekle</a>
        </div>
        <br /><br /><br />
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2 style="text-align:center">Bloglarım</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered verticle-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Ön Cümle</th>
                                    <th scope="col">İçerik</th>
                                    <th scope="col">Yazar</th>
                                    <th scope="col">Yazıldığı Tarih</th>
                                    <th scope="col">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                               @await Component.InvokeAsync("ProfileTablePartial",Model.Id)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


